{{! Banner Component }}
<section id="banner">
    <div class="content">
        <header>
            <h1>{{header}}</h1>
        </header>
        <p>
            {{#content}}
                {{> html }}
            {{/content}}
        </p>
        <ul class="actions">
            <li><a href="{{link}}" class="button big">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
		<img src="{{image}}" alt="banner">
	</span>
</section>
