<section>
    <header class="major">
        <h2>Ante interdum</h2>
    </header>
    <div class="mini-posts">
        {{> mini-post }}
        {{> mini-post }}
        {{> mini-post }}
    </div>
    <ul class="actions">
        <li><a href="#" class="button">More</a></li>
    </ul>
</section>
