<!DOCTYPE HTML>
<html lang="{{page.lang}}">
<head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
    <link rel="stylesheet" href="/static/assets/css/main.css" >
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            {{#page.header}}
                {{> header }}
            {{/page.header}}

            <!-- Banner -->
            {{#page.banner}}
                {{> banner }}
            {{/page.banner}}

            <!-- Section -->
            {{> features }}

            <!-- Section -->
            {{> posts }}

            <!-- Section -->
            {{> posts }}

            <!-- Footer -->
            {{#page.footer}}
                {{> footer }}
            {{/page.footer}}

        </div>
    </div>

    <!-- Sidebar -->
    {{> sidebar }}

</div>

<!-- Scripts -->
{{> scripts }}

</body>
</html>
