<section>
    <header class="major">
        <h2>Ipsum sed dolor</h2>
    </header>
    <div class="posts">
        {{> post }}
        {{> post }}
        {{> post }}
        {{> post }}
        {{> post }}
        {{> post }}
    </div>
</section>
