{{! Search Component }}
<section id="search" class="alt">
    <header class="major">
        <h2>Search</h2>
    </header>
    <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search" />
    </form>
</section>
