{{! Sidebar Component }}
<div id="sidebar">
    <div class="inner">
        <!-- Search -->
        {{> sidebar/search }}

        <!-- Menu -->
        {{> sidebar/menu }}

        <!-- Mini Posts -->
        {{> sidebar/mini-posts }}

        <!-- Contact -->
        {{> sidebar/contact }}
    </div>
</div>
