<div id="sidebar">
    <div class="inner">
        <!-- Search -->
        {{> search }}

        <!-- Menu -->
        {{> menu }}

        <!-- Mini Posts -->
        {{> mini-posts }}

        <!-- Contact -->
        {{> contact }}
    </div>
</div>
