{{! Sidebar Region }}
<div id="sidebar">
    <div class="inner">
        {{#page.sidebar}}
            {{#tmpl-search}} {{! Search Section }}
                {{> sidebar/tmpl-search }}
            {{/tmpl-search}}
            {{#tmpl-menu}} {{! Menu Section }}
                {{> sidebar/tmpl-menu }}
            {{/tmpl-menu}}
            {{#tmpl-mini-posts}} {{! Mini Posts Section }}
                {{> sidebar/tmpl-mini-posts }}
            {{/tmpl-mini-posts}}
            {{#tmpl-contact}} {{! Contact Section }}
                {{> sidebar/tmpl-contact }}
            {{/tmpl-contact}}
        {{/page.sidebar}}
    </div>
</div>
