{{! Sidebar Region }}

<div id="sidebar">
    <div class="inner">
        {{#page.sidebar}}

            <!-- Search Section -->
            {{#search}}
                {{> sidebar/search }}
            {{/search}}

            <!-- Menu Section -->
            {{#menu}}
                {{> sidebar/menu }}
            {{/menu}}

            <!-- Mini Posts Section -->
            {{#mini-posts}}
                {{> sidebar/mini-posts }}
            {{/mini-posts}}

            <!-- Contact Section -->
            {{#contact}}
                {{> sidebar/contact }}
            {{/contact}}

        {{/page.sidebar}}
    </div>
</div>
