{{! Sidebar Region }}
<div id="sidebar">
    <div class="inner">
        {{#page.sidebar}}
            {{#search}} {{! Search Section }}
                {{> sidebar/search }}
            {{/search}}
            {{#menu}} {{! Menu Section }}
                {{> sidebar/menu }}
            {{/menu}}
            {{#mini-posts}} {{! Mini Posts Section }}
                {{> sidebar/mini-posts }}
            {{/mini-posts}}
            {{#contact}} {{! Contact Section }}
                {{> sidebar/contact }}
            {{/contact}}
        {{/page.sidebar}}
    </div>
</div>
