<div class="row">
    <div class="col-4 col-12-medium">
        <h3>Interdum sapien gravida</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
            faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius
            montes viverra nibh in adipiscing blandit.</p>
    </div>
    <div class="col-4 col-12-medium">
        <h3>Faucibus consequat lorem</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
            faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius
            montes viverra nibh in adipiscing blandit.</p>
    </div>
    <div class="col-4 col-12-medium">
        <h3>Accumsan montes viverra</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
            faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius
            montes viverra nibh in adipiscing blandit.</p>
    </div>
</div>
