{{! Features Collection Component }}
<section>
    <header class="major">
        <h2>Erat lacinia</h2>
    </header>
    <div class="features">
        {{> feature }}
        {{> feature }}
        {{> feature }}
        {{> feature }}
        {{> feature }}
        {{> feature }}
    </div>
</section>
