{{! Layout 2Column Container }}
<div class="row">
    <div class="col-4 col-12-medium">
        {{> box }}
    </div>
    <div class="col-4 col-12-medium">
        {{> box }}
    </div>
    <div class="col-4 col-12-medium">
        {{> box }}
    </div>
    <div class="col-4 col-12-medium">
        {{> box }}
    </div>
    <div class="col-4 col-12-medium">
        {{> box }}
    </div>
    <div class="col-4 col-12-medium">
        {{> box }}
    </div>
</div>
