{{! List Component }}
<h4>Unordered</h4>
<ul>
    <li>Dolor etiam magna etiam.</li>
    <li>Sagittis lorem eleifend.</li>
    <li>Felis dolore viverra.</li>
</ul>

<h4>Alternate</h4>
<ul class="alt">
    <li>Dolor etiam magna etiam.</li>
    <li>Sagittis lorem eleifend.</li>
    <li>Felis feugiat viverra.</li>
</ul>

<h4>Ordered</h4>
<ol>
    <li>Dolor etiam magna etiam.</li>
    <li>Etiam vel lorem sed viverra.</li>
    <li>Felis dolore viverra.</li>
    <li>Dolor etiam magna etiam.</li>
    <li>Etiam vel lorem sed viverra.</li>
    <li>Felis dolore viverra.</li>
</ol>

<h4>Icons</h4>
<ul class="icons">
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
    <li><a href="#" class="icon brands fa-tumblr"><span class="label">Tumblr</span></a></li>
</ul>
