{{! ContentTriple Component }}
<div class="row">
    {{#columns}}
    <div class="col-4 col-12-medium">
        {{#title}}<h3>{{title}}</h3>{{/title}}
        {{#content}}
            <p>{{> ../tmpl-html }}</p>
        {{/content}}
    </div>
    {{/columns}}
</div>
