{{! Posts Collection Component }}
<section>
    <header class="major">
        <h2>Ipsum sed dolor</h2>
    </header>
    <div class="posts">
        {{> tmpl-post }}
        {{> tmpl-post }}
        {{> tmpl-post }}
    </div>
</section>
