{{! ContentSingle Component }}
<div class="row">
    {{#columns}}
        {{#title}}<h3>{{title}}</h3>{{/title}}
        {{#content}}
            <p>{{> ../tmpl-html }}</p>
        {{/content}}
    {{/columns}}
</div>
