{{! Content Component }}
<section>
    <header class="major">
        <h2>Ipsum sed dolor</h2>
    </header>
    {{> tmpl-content-single }}
    {{> tmpl-content-double }}
    {{> tmpl-content-triple }}
</section>
