@use "../libs/functions";

/* Footer */

	#footer {
	    border-top: solid 5px functions.palette(accent);
	    padding: 1em 0 1em 0;
	    text-align: center;
		.copyright {
			color: functions.palette(fg-light);
			font-size: 0.9em;

			a {
				color: inherit;
			}
		}
	}